.header {
  background: linear-gradient(
    135deg,
    rgb(48, 71, 236) 0%,
    rgb(15, 34, 167) 100%
  );
  color: #fff;
  fill: #fff;
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 10px;
}

.closeIcon {
  cursor: pointer;
}
